<ion-view view-title="Choose Country">
  <ion-content style="background-color: #2B2C2F;">

	  <label class="item item-input">
	    <input type="text" ng-model="searchForCountry" placeholder="Search">
	  </label>

       <ion-list>
         <ion-radio class="list card" id="selectCountry" ng-repeat="country in countries | filter : searchForCountry" ng-click="saveCountry(country)"> {{country}}
	    </ion-radio>
    </ion-list>

  </ion-content>

    <div class="bar bar-footer bar-balanced" id="submitCountry" ng-click="next()">
    <div class="title icon ion-android-done"> {{buttonText}}</div>
  </div>

</ion-view>