<ion-view view-title="Dashboard" cache-view="false">
  <ion-content>

<div class="item item-light" style="background: linear-gradient(#607D8B, #72D1FF, #fff); border: 0px">
<div class="wrapper" ng-click="recordData()">
  <div class="inner">
    <span></span>
  </div>
</div>
<div align="center" class="balanced">{{status}}</div>
</div>

<div ng-if="show === true">
    <ion-item class="item-thumbnail-left">
      <img src="img/{{vehicle.car_manufacturer}}.png">
      <h2 class="balanced">{{vehicle.car_manufacturer}} {{vehicle.car_model}}</h2>
      <p>{{vehicle.car_year}}, {{vehicle.car_engine_size}}L {{vehicle.car_fuel_type}}</p>
      <button class="button button-small button-energized icon ion-ios-cloud" style="border: 1px solid; border-radius: 10px;">  {{vehicle.id}}</button>
    </ion-item>
</div>

    <a href="#/app/vehicles" class="button button-light button-full icon ion-ios-refresh-empty"> Switch Vehicle</a>

    <div class="card">

    <div class="button button-balanced button-full button-outline" ng-click="connectToBluetooth()"> Connect To Bluetooth</div>



    <div class="button button-balanced button-full button-outline" ng-click="selectProtocol()"> Select Protocol</div>

<div class="button button-balanced button-full" ng-click="bluetoothRead()"> Bluetooth Read</div>

</div>

    </ion-content>
</ion-view>
