<ion-view view-title="Date of Birth">
  <ion-content>
        
	  <div class="item item-light item-icon-left">
	  <i class="icon ion-ios-calendar-outline"></i>
	  	Selected Date : {{date}}
	  </div>

	 <ionic-datepicker input-obj="datepickerObject">
	  <button class="button button-block button-balanced"> Choose Date of Birth </button>
	</ionic-datepicker>

  </ion-content>

    <div class="bar bar-footer bar-balanced" ng-click="next()">
    <div class="title icon ion-android-done"> {{buttonText}}</div>
  </div>

</ion-view>