<ion-view view-title="Following">
  <ion-content style="background-color: #2B2C2F;">
    
 <div class="list card" ng-repeat="vehicle in vehicles">
      <a class="item item-avatar item-stable" href="#/app/vehicles/{{vehicle.carData.identifier}}">
        <img ng-src="img/{{vehicle.carData.make}}.png">
        <h3 class="dark">{{vehicle.carData.make}} {{vehicle.carData.model}}</h3>
        <h4 class="balanced"><i class="icon ion-ios-cloud-outline"></i> {{vehicle.carData.identifier}}</h4>
        <h5 class="dark">{{vehicle.carData.year}} {{vehicle.carData.vehicleStyle}} - {{vehicle.carData.engineSize}}L, {{vehicle.carData.horsepower}} bhp</h5>
      </a>
    </div>

  </ion-content>

  <div class="bar bar-footer bar-balanced" ng-click="followVehicle()">
	  <div class="title icon ion-ios-plus-outline"> Follow Vehicle</div>
	</div>

</ion-view>
