<ion-view view-title="Gender">
  <ion-content style="background-color: #2B2C2F;">

       <div class="list card">
      	<ion-radio ng-click="saveGender('male')"><i class="icon ion-man"></i> Male</ion-radio>
      </div>

      <div class="list card">
      	<ion-radio ng-click="saveGender('female')"><i class="icon ion-woman"></i> Female</ion-radio>
      </div>

  </ion-content>

    <div class="bar bar-footer bar-balanced" ng-click="next()">
    <div class="title icon ion-android-done"> {{buttonText}}</div>
  </div>

</ion-view>