<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-balanced">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-android-more-horizontal" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="button button-icon ion-ios-navigate-outline" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>


    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" >
    <ion-header-bar class="bar-balanced">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content style="background-color :#004D40">

      

      <ion-list>
        <div class="card">
        <div class="item item-light item-avatar">
        <img src="http://flaticons.net/gd/makefg.php?i=icons/Application/User-Login.png&r=0&g=77&b=64">
          <h2 class="balanced">{{gender}}, {{birthYear}}</h2>
          <h3 class="balanced icon ion-flag"> {{country}}</h3>
          </div>
        </div>
                       
        <ion-item menu-close item-icon-left class="card drive-menu" href="#/app/dashboard">
        <i class="icon balanced ion-android-home"></i>
          Dashboard
        </ion-item>
        <ion-item menu-close item-icon-left class="card drive-menu" href="#/app/vehicles">
         <i class="icon balanced ion-model-s"></i>
         Garage
        </ion-item>
        <ion-item menu-close item-icon-left class="card drive-menu" href="#/app/following">
         <i class="icon balanced ion-android-star"></i>
         Following
        </ion-item>
        <ion-item menu-close item-icon-left class="card drive-menu" href="#/app/settings">
         <i class="icon balanced ion-ios-gear"></i>
         Settings
        </ion-item>
      </ion-list>
    </ion-content>

  </ion-side-menu>


  <ion-side-menu side="right">
    <ion-header-bar class="bar-balanced">
      <h1 class="title">Journeys</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
       <div class="item item-image">
           <img src="http://freedesignfile.com/upload/2012/10/housing-map-4.jpg">
        </div>

        <ion-item menu-close item-icon-left href="#/app/dashboard">
        <i class="icon ion-ios-navigate-outline"></i>
          23/12/2015
        </ion-item>
        <ion-item menu-close item-icon-left>
        <i class="icon ion-ios-navigate-outline"></i>
         21/12/2015
        </ion-item>
         <ion-item menu-close item-icon-left>
         <i class="icon ion-ios-navigate-outline"></i>
          19/12/2015
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>
