<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-balanced">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-android-more-horizontal" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="button button-icon ion-ios-refresh-empty" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>


    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" >
    <ion-header-bar class="bar-balanced">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content style="background-color : #2B2C2F">

      

      <ion-list>
        <div class="card">
        <div class="item item-light item-avatar" style="border: 1px solid;border-color: #1AB370;background-color: #1AB370;">
        <img ng-src="img/user.png">
          <h2 class="light" style="text-transform: capitalize;">{{gender}}, {{birthYear.year}}</h2>
          <h3 class="light icon ion-flag"> {{country}}</h3>
          </div>
        </div>
                       
        <ion-item menu-close item-icon-left class="card drive-menu" href="#/app/dashboard" style="font-size: 14px;">
        <i class="icon balanced ion-android-home"></i>
          Dashboard
        </ion-item>
        <ion-item menu-close item-icon-left class="card drive-menu" href="#/app/vehicles" style="font-size: 14px;">
         <i class="icon balanced ion-model-s"></i>
         Garage
        </ion-item>
        <ion-item menu-close item-icon-left class="card drive-menu" href="#/app/following" style="font-size: 14px;">
         <i class="icon balanced ion-android-star"></i>
         Following
        </ion-item>
        <ion-item menu-close item-icon-left class="card drive-menu" href="#/app/settings" style="font-size: 14px;">
         <i class="icon balanced ion-ios-gear"></i>
         Settings
        </ion-item>
      </ion-list>
    </ion-content>

  </ion-side-menu>


  <ion-side-menu side="right">
    <ion-header-bar class="bar-balanced">
      <h1 class="title">Set Active Vehicle</h1>
    </ion-header-bar>
    <ion-content style="background-color: #2B2C2F">
     
    <div class="list card" ng-repeat="vehicle in vehicles">
      <div class="item item-avatar item-light" ng-click="setActive(vehicle.carData.make.name, vehicle.carData.model.name, vehicle.carData.year.year, vehicle.id)">
        <img ng-src="img/{{vehicle.carData.make.name}}.png">
        <h3 class="dark">{{vehicle.carData.make.name}} {{vehicle.carData.model.name}}</h3>
        <h4 class="balanced" style="color : #1AB370"><i class="icon ion-ios-cloud-outline"></i> {{vehicle.id}}</h4>
      </div>
    </div>

    </ion-content>
  </ion-side-menu>

</ion-side-menus>
