<ion-view view-title="OBD Device Settings">
  <ion-content style="background-color: #2B2C2F;">
       <div class="item item-body">
      <p>Please ensure that you have <b>already paired</b> with the device using a passcode via your <b>Android System</b> settings.</p>
        <div>

                  </div>
        <div class="button button-balanced button-block button-clear icon icon ion-ios-search" ng-click="listDevices()">  {{search}}</div>
        </div>

                <div class="list card" ng-repeat="device in devices">
                      <ion-radio ng-click="chooseDevice(device.address)"><h4>{{device.name}}</h4> <p>{{device.address}}</p></ion-radio>
                </div>
       </ion-content>

          <div class="bar bar-footer bar-balanced" id="submit" ng-click="next()">
    <div class="title icon ion-android-done"> {{buttonText}}</div>
  </div>
</ion-view>