<ion-view view-title="Sensor Querying">
  <ion-content>
    
  <ion-list>
  <div class="item item-stable item-divider">Engine</div>
  	<a class="item item-light item-icon-left">
  	 <i class="icon ion-ios-cog-outline"></i> 
  	 <p>Engine RPM</p>
  	</a>

  	<a class="item item-light item-icon-left">
  	 <i class="icon ion-ios-cog-outline"></i> 
  	 <p>Engine Temperature</p>
  	</a>

  	<div class="item item-stable item-divider">Throttle/Pedal</div>

  	<div class="item item-stable item-divider">Intake/Fuel</div>

  	<div class="item item-stable item-divider">Exhaust System</div>

  	<div class="item item-stable item-divider">Temperatures</div>

  </ion-list>

  </ion-content>
</ion-view>
