<ion-view view-title="Settings" cache-view="false">
  <ion-content>
    
  <ion-list>
  	<a href="#/app/obdConnction" class="item item-light item-icon-left">
  	 <i class="icon ion-ios-bolt-outline"></i> Change Default OBD Device 
     <h4 class="balanced">Current OBD Device - {{currentDevice}}</h4>
  	 </a>

  	 <a href="#/app/genderChooser" class="item item-light item-icon-left">
  	 <i class="icon ion-ios-person-outline"></i> Gender
     <h4 class="balanced">{{gender}}</h4>
  	 </a>

     <a href="#/app/dateOfBirthChooser" class="item item-light item-icon-left">
     <i class="icon ion-ios-calendar-outline"></i> Date of Birth
     <h4 class="balanced">{{dateOfBirth}}</h4>
     </a>

     <a href="#/app/countryChooser" class="item item-light item-icon-left">
     <i class="icon ion-earth"></i> Country
     <h4 class="balanced">{{country}}</h4>
     </a>

  	  <a href="#/app/sensorQuerying" class="item item-light item-icon-left">
  	 <i class="icon ion-ios-timer-outline"></i> Sensor Querying Interval Times
  	 </a>
  </ion-list>

  </ion-content>
</ion-view>
