<ion-view view-title="Vehicle Information" ng-init="showFollowedVehicle()">
  <ion-content style="background-color: #2B2C2F;">
    

<div class="list card" style="border-color: #F7F7F7;background-color: #1AB370;">

  <div class="item item-avatar">
    <img ng-src="img/{{vehicle.carData.make}}.png">
    <h4>{{vehicle.carData.make}} {{vehicle.carData.model}} ({{vehicle.carData.year}})</h4>
    <p>{{vehicle.carData.identifier}}</p>
  </div>
  </div>

<div class="list card" style="border-color: #F7F7F7;background-color: #1AB370;">
  <a class="item item-avatar" ng-click="showVehicleInformation = !showVehicleInformation">
    <img ng-src="img/car3.png">
     <h4>Vehicle Information</h4>
     <p>View Vehicle Information.</p>
  </a>

  <div id="showVehicleInformation" ng-show="showVehicleInformation">

  <div class="item item-avatar" ng-show="vehicle.carData.vehicleStyle != null">
    <img ng-src="img/car.png">
    <h4>{{vehicle.carData.vehicleStyle}}</h4>
    <p>Style</p>
  </div>

  <div class="item item-avatar" ng-show="vehicle.carData.vehicleClass != null">
    <img ng-src="img/car.png">
    <h4>{{vehicle.carData.vehicleClass}}</h4>
    <p>Class</p>
  </div>

  <div class="item item-avatar" ng-show="vehicle.carData.manufacturerEngineCode != null">
    <img ng-src="img/car.png">
    <h4>{{vehicle.carData.manufacturerEngineCode}}</h4>
    <p>Number of Doors</p>
  </div>

  <div class="item item-avatar" ng-show="vehicle.carData.engineSize != null">
    <img ng-src="img/engine.png">
    <h4>{{vehicle.carData.engineSize}}</h4>
    <p>Engine Size</p>
  </div>

  <div class="item item-avatar" ng-show="vehicle.carData.engineDisplacement != null">
    <img ng-src="img/engine.png">
    <h4>{{vehicle.carData.engineDisplacement}} cc</h4>
    <p>Engine Displacement</p>
  </div>

  <div class="item item-avatar" ng-show="vehicle.carData.engineConfiguration != null">
    <img ng-src="img/engine.png">
    <h4>{{vehicle.carData.engineConfiguration}}</h4>
    <p>Engine Configuration</p>
  </div>

    <div class="item item-avatar" ng-show="vehicle.carData.cylinders != null">
    <img ng-src="img/engine.png">
    <h4>{{vehicle.carData.cylinders}}</h4>
    <p>Cylinders</p>
  </div>

   <div class="item item-avatar" ng-show="vehicle.carData.totalEngineValves != null">
    <img ng-src="img/engine.png">
    <h4>{{vehicle.carData.totalEngineValves}}</h4>
    <p>Valves</p>
  </div>

   <div class="item item-avatar" ng-show="vehicle.carData.compressionRatio != null">
    <img ng-src="img/engine.png">
    <h4>{{vehicle.carData.compressionRatio}}</h4>
    <p>Compression Ratio</p>
  </div>

   <div class="item item-avatar" ng-show="vehicle.carData.manufacturerEngineCode != null">
    <img ng-src="img/engine.png">
    <h4>{{vehicle.carData.manufacturerEngineCode}}</h4>
    <p>Engine Code</p>
  </div>

   <div class="item item-avatar" ng-show="vehicle.carData.horsepower != null">
    <img ng-src="img/engine.png">
    <h4>{{vehicle.carData.horsepower}} bhp</h4>
    <p>Horsepower</p>
  </div>

   <div class="item item-avatar" ng-show="vehicle.carData.torque != null">
    <img ng-src="img/engine.png">
    <h4>{{vehicle.carData.torque}} ft lb</h4>
    <p>Torque</p>
  </div>

  <div class="item item-avatar" ng-show="vehicle.carData.fuelType != null">
    <img ng-src="img/fuel.png">
    <h4>{{vehicle.carData.fuelType}}</h4>
    <p>Fuel</p>
  </div>

  <div class="item item-avatar" ng-show="vehicle.carData.mpgHighway != null">
    <img ng-src="img/fuel.png">
    <h4>{{vehicle.carData.mpgHighway}} MPG</h4>
    <p>MPG Motorway</p>
  </div>

  <div class="item item-avatar" ng-show="vehicle.carData.mpgCity != null">
    <img ng-src="img/fuel.png">
    <h4>{{vehicle.carData.mpgCity}} MPG</h4>
    <p>MPG City</p>
  </div>

  <div class="item item-avatar" ng-show="vehicle.carData.transmissionType != null">
    <img ng-src="img/gear.png">
    <h4>{{vehicle.carData.transmissionType}}</h4>
    <p>Transmission Type</p>
  </div>

  <div class="item item-avatar" ng-show="vehicle.carData.numberOfSpeeds != null">
    <img ng-src="img/gear.png">
    <h4>{{vehicle.carData.numberOfSpeeds}}</h4>
    <p>Number Of Speeds</p>
  </div>

  <div class="item item-avatar" ng-show="vehicle.carData.newPrice != null">
    <img ng-src="img/money.png">
    <h4>$ {{vehicle.carData.newPrice}}</h4>
    <p>New Price</p>
  </div>

   <div class="item item-avatar" ng-show="vehicle.carData.usedPrice != null">
    <img ng-src="img/money.png">
    <h4>$ {{vehicle.carData.usedPrice}}</h4>
    <p>Used Price</p>
  </div>

</div>

  </div>


<div class="list card" style="border-color: #F7F7F7;background-color: #1AB370;">
  <a class="item item-avatar" ng-click="getVehicleStatistics(vehicle.carData.identifier); showStatistics = !showStatistics;">
    <img ng-src="img/car4.png">
     <h4>Vehicle Statistics</h4>
     <p>View Vehicle Statistics.</p>
  </a>

    <div id="showStatistics" ng-show="showStatistics">

	   <div class="item item-avatar" ng-show="overallStatistics.averageSpeed != null">
	    <img ng-src="img/speedometer.png">
	    <h4>{{overallStatistics.averageSpeed}} KPH</h4>
	    <p>Average Speed</p>
	    </div>

	    <div class="item item-avatar" ng-show="overallStatistics.topSpeed != null">
	    <img ng-src="img/speedometer.png">
	    <h4>{{overallStatistics.topSpeed}} KPH</h4>
	    <p>Top Speed</p>
	    </div>

	    <div class="item item-avatar" ng-show="overallStatistics.averageRPM != null">
	    <img ng-src="img/rpm.png">
	    <h4>{{overallStatistics.averageRPM}} RPM</h4>
	    <p>Top RPM</p>
	  </div>

	  <div class="item item-avatar" ng-show="overallStatistics.topRPM != null">
	    <img ng-src="img/rpm.png">
	    <h4>{{overallStatistics.topRPM}} RPM</h4>
	    <p>Top RPM</p>
	  </div>

	   <div class="item item-avatar" ng-show="overallStatistics.averagePercentageHighRPM != null">
	    <img ng-src="img/rpm.png">
	    <h4>{{overallStatistics.averagePercentageHighRPM}} %</h4>
	    <p>High RPM Percentage</p>
	  </div>

	   <div class="item item-avatar" ng-show="overallStatistics.averageMPG != null">
	    <img ng-src="img/rpm.png">
	    <h4>{{overallStatistics.averageMPG}} MPG</h4>
	    <p>Average MPG</p>
	  </div>

	  <div class="item item-avatar" ng-show="overallStatistics.heavyAccelerationCount != null">
	    <img ng-src="img/car4.png">
	    <h4>{{overallStatistics.heavyAccelerationCount}} </h4>
	    <p>Heavy Acceleration Count</p>
	  </div>

	  <div class="item item-avatar" ng-show="overallStatistics.heavyBrakingCount != null">
	    <img ng-src="img/brake.png">
	    <h4>{{overallStatistics.heavyBrakingCount}} </h4>
	    <p>Heavy Braking Count</p>
	  </div>

	  <div class="item item-avatar" ng-show="overallStatistics.averageEngineLoad != null">
	    <img ng-src="img/engine.png">
	    <h4>{{overallStatistics.averageEngineLoad}} %</h4>
	    <p>Average Engine Load</p>
	  </div>

	  <div class="item item-avatar" ng-show="overallStatistics.averageThrottlePosition != null">
	    <img ng-src="img/throttle.png">
	    <h4>{{overallStatistics.averageThrottlePosition}} %</h4>
	    <p>Average Throttle Position</p>
	  </div>

	   <div class="item item-avatar" ng-show="overallStatistics.averagePercentageIdle != null">
	    <img ng-src="img/idle.png">
	    <h4>{{overallStatistics.averagePercentageIdle}} %</h4>
	    <p>Average Percentage Idle</p>
	  </div>

	   <div class="item item-avatar" ng-show="overallStatistics.averagePercentageCoasting != null">
	    <img ng-src="img/car3.png">
	    <h4>{{overallStatistics.averagePercentageCoasting}} %</h4>
	    <p>Average Percentage Coasting</p>
	  </div>

	  <div class="item item-avatar" ng-show="overallStatistics.averageGForce != null">
	    <img ng-src="img/radar.png">
	    <h4>{{overallStatistics.averageGForce}} g</h4>
	    <p>Average G Force</p>
	  </div>

	   <div class="item item-avatar" ng-show="overallStatistics.topAccelerationGforce != null">
	    <img ng-src="img/radar.png">
	    <h4>{{overallStatistics.topAccelerationGforce}} g</h4>
	    <p>Top Acceleration G Force</p>
	  </div>

	   <div class="item item-avatar" ng-show="overallStatistics.topDecelerationGforce != null">
	    <img ng-src="img/radar.png">
	    <h4>{{overallStatistics.topDecelerationGforce}} g</h4>
	    <p>Top Deceleration G Force</p>
	  </div>

    </div>

</div>


<div class="list card" style="border-color: #F7F7F7;background-color: #1AB370;">
  <a class="item item-avatar" ng-click="getVehicleJourneys(vehicle.carData.identifier); showJourneys = !showJourneys;">
    <img ng-src="img/journey.png">
    <h4>Journeys</h4>
    <p>View {{vehicle.carData.journeys.length}} Journeys.</p>
  </a>

<div id="showStatistics" ng-show="showJourneys">
<div ng-repeat="journey in journeys" ng-show="journeys != null">
   <a class="item item-avatar" href="#/app/vehicles/showJourney/{{journey.id}}">
	    <img ng-src="img/sun.png" ng-if="journey.startHour <= 20 && journey.startHour >= 7" style="max-width: 30px;max-height: 30px;">
	    <img ng-src="img/moon.png" ng-if="journey.startHour >= 21 || journey.startHour <= 6" style="max-width: 30px;max-height: 30px;">
	    <h4><i class="icon positive ion-location"></i> {{journey.startTime}}</h4>
	    <h4><i class="icon assertive ion-location"></i> {{journey.endTime}}</h4>

	  </a>
</div>
</div>

  </div>

</div>

  </ion-content>

</ion-view>
