<ion-view view-title="Your Vehicles">
  <ion-content>

    <ion-list>
         <ion-item ng-repeat="vehicle in vehicles" class="item-thumbnail-left" ng-click="setActive(vehicle.car_manufacturer, vehicle.car_model, vehicle.car_year, vehicle.id)">
         <ion-option-button class="button-balanced icon ion-android-create"
                       ng-click="edit()"> </ion-option-button>
        <ion-option-button class="button-assertive icon ion-ios-trash-outline"
                       ng-click="delete()"> </ion-option-button>
      <img src="img/{{vehicle.car_manufacturer}}.png">
      <h2>{{vehicle.car_manufacturer}} {{vehicle.car_model}}</h2>
      <p>{{vehicle.car_year}}</p>
      <p>{{vehicle.car_engine_size}}L {{vehicle.car_fuel_type}}</p>
      <h3 class="balanced icon ion-ios-cloud-outline"> {{vehicle.id}}</h3>
    </ion-item>
    </ion-list>

  </ion-content>

  <div class="bar bar-footer bar-balanced" ng-click="addVehicle()">
	  <div class="title icon ion-ios-plus-outline"> Add Vehicle</div>
	</div>

</ion-view>
