<ion-view view-title="Garage" cache-view="false">
  <ion-content>

       <div class="list card" ng-repeat="vehicle in vehicles">
       <div class="item item-thumbnail-left item-stable" ng-click="setActive(vehicle.carData.make.name, vehicle.carData.model.name, vehicle.carData.year.year, vehicle.id)">
        <img ng-src="img/{{vehicle.carData.make.name}}.png">
        <h2 class="dark">{{vehicle.carData.make.name}} {{vehicle.carData.model.name}}</h2>
        <h3 class="balanced"><i class="icon ion-ios-cloud-outline"></i> {{vehicle.id}}</h3>
        <h4 class="dark">{{vehicle.carData.year.year}} {{vehicle.carData.categories.vehicleStyle}} - {{vehicle.carData.engine.size}}L, {{vehicle.carData.engine.horsepower}}hp</h4>
        <h4 class="dark">{{vehicle.carData.transmission.transmissionType}}</h4>
        
      </div>
    </div>
  </ion-content>

  <div class="bar bar-footer bar-balanced" ng-click="addVehicle()">
	  <div class="title icon ion-ios-plus-outline"> Add Vehicle</div>
	</div>

</ion-view>
