
.hue {
  height:100vh; 
  width:100%; 
  padding:120px 0;
  text-align: center;

}

.bar .title {
    font-size: 12px;
}

.platform-android .bar .title {
    font-size: 12px;
    line-height: 44px;
}

.ion-content {
    background-color: #444444;
}

.loading-container .loading {
    padding: 15px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    color: #0c60ee;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 15px;
}

body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}
